comtradeapicall  # For interacting with the UN Comtrade API
fastparquet # For parquet files
linearmodels  # For panel regression models
numpy  # For numerical computations
pandas  # For data manipulation and analysis
pyarrow # For parquet files
python-dotenv # For environment variables
requests  # For making HTTP requests

# Optional: Unicode handling (if needed for special folder names)
unicodedata2  # For normalizing folder names (used in `dataAPI.py`)

# Typing utilities (only for older Python versions)
typing-extensions  # For type hints (if using Python <3.9)